---
layout: page
description: "<br>새 이름으로 저장<br>Save as birds name"
---
<a>POSTS</a>
<hr>
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h3 style="font-size: 20px !important; color: #0780af; margin-bottom: 0px;">📁 {{ post.tags[0]}}</h3>
        <h2 class="post-title" style="margin-top: 10px !important;">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <!-- <div class="post-content-preview">
            {% if post.lang == 'ko' %}
                {{ post.content | strip_html | truncate:100 }}
            {% else %}
                {{ post.content | strip_html | truncate:100 }}
            {% endif %}
        </div> -->
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
